<% provide(:title, 'Edit Entry') %>
<% provide(:pageheading, 'Edit Entry '+ @entity.name.to_s ) %>

<%= form_for @entry, :html => {:class => 'form-horizontal'} do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.hidden_field :entity_id, :value => @entity.id %>     

  <legend class="topspace50">Fields</legend>
    <div id="nest-1">
        <div class="items">
          <% @fieldsused = [] %>
          <%= f.nested_fields_for :field_instances, :id=>"duplicatable_nested_form" do |fi| %>
	        <fieldset class="item">
              <div class="form-group topspace50">
		        <%= fi.label :answer, fi.object.exposeAs, class:"col-lg-2 control-label" %>
			    <div class="col-lg-8">
		          <%= fi.text_field :answer, :class => "form-control" %>
		        </div>
		      </div>

              <%= fi.hidden_field :field_id, :value => fi.object.field_id %>  
              <%= fi.hidden_field :exposeAs, :value => fi.object.exposeAs %> 
              
		      <%= fi.hidden_field :id %>
		      <%= fi.hidden_field :_destroy %>
		      
              <div class="row">
		        <div class="col-lg-push-9 col-lg-3">
		          <a href="#" class="btn btn-default btn-xs remove">remove</a>
                </div>
              </div>
              
		    </fieldset>
            <% @fieldsused << fi.object.id %>
	      <% end %>
	    </div>  
    </div>
    
  <legend class="topspace50">Add Fields</legend>
  <% for ef in @entity.entity_fields.to_a %>
    <div id="nest-<%= ef.id.to_s %>">
        <div class="items">
	      <%= f.nested_fields_for :field_instances, :id=>"duplicatable_nested_form" do |fi| %>
	        <% if !@fieldsused.include? fi.object.id || fi.object.id.nil? %>
		        <fieldset class="item">
	              <div class="form-group topspace50">
			        <%= fi.label :answer, ef.exposeAs, class:"col-lg-2 control-label" %>
				    <div class="col-lg-8">
			          <%= fi.text_field :answer, :class => "form-control" %>
			        </div>
			      </div>
	
	              <%= fi.hidden_field :field_id, :value => ef.field_id %>  
	              <%= fi.hidden_field :exposeAs, :value => ef.exposeAs %> 
	              
	              <div class="row">
			        <div class="col-lg-push-9 col-lg-3">
			          <a href="#" class="btn btn-default btn-xs remove">remove</a>
	                </div>
	              </div>
	              
			      <%= fi.hidden_field :id %>
			      <%= fi.hidden_field :_destroy %>
			    </fieldset>
			<% end %>
	      <% end %>
	    </div>  
        <div class="row">
	      <div class="col-lg-push-1 col-lg-3 topspace20">
	        <a href="#" class="add">Add new <%= ef.exposeAs %> </a>
	      </div>
	    </div>
    </div>
  <% end %>
  
  <legend class="topspace50">Links</legend>
    <div id="nest-100">
        <div class="items">
        	
          <% @linksused = [] %>
          
	      <%= f.nested_fields_for :entity_instances, :id=>"duplicatable_nested_form" do |ei| %>
	        <fieldset class="item">
		      <!-- put the dropdown list of entries here -->
              <div class="form-group topspace50">
		        <%= ei.label :link_id, ei.object.exposeAs, class:"col-lg-2 control-label" %>
		        <div class="col-lg-8">
		        	<%= createdropdown(ei) %>
			    </div>
		      </div>
 
              <%= ei.hidden_field :exposeAs, :value => ei.object.exposeAs %> 
              
		      <%= ei.hidden_field :id %>
		      <%= ei.hidden_field :_destroy %>

		      <div class="row">
		        <div class="col-lg-push-9 col-lg-3">
		          <a href="#" class="btn btn-default btn-xs remove">remove</a>
                </div>
              </div>

		    </fieldset>
		    
            <% @linksused << ei.object.id %>
            
	      <% end %>
	    </div>  
    </div>
    
  <legend class="topspace50">Add Links</legend>
  <% for link in @entity.links.to_a %>
    <div id="nest-<%= (link.id+100).to_s %>">
        <div class="items">
	      <%= f.nested_fields_for :entity_instances, :id=>"duplicatable_nested_form" do |ei| %>
	        <% if !@linksused.include? ei.object.id || ei.object.id.nil? %>
		        <fieldset class="item">
	
			        <!-- put the dropdown list of entries here -->
	              <div class="form-group topspace50">
			        <%= ei.label :link_id, link.exposeAs, class:"col-lg-2 control-label" %>
			        <div class="col-lg-8">
			          <%= ei.collection_select(:link_id, Entry.where(entity_id: link.link_id), :id, :id, {:prompt => 'Select a '+link.exposeAs}, {:class=>"form-control", :id=>"select"}) %>
				    </div>
			      </div>
	  
	              <%= ei.hidden_field :exposeAs, :value => link.exposeAs %> 
                  <%= ei.hidden_field :property, :value => link.property %> 
	
			      <div class="row">
			        <div class="col-lg-push-9 col-lg-3">
			          <a href="#" class="btn btn-default btn-xs remove">remove</a>
	                </div>
	              </div>
	
			      <%= ei.hidden_field :id %>
			      <%= ei.hidden_field :_destroy %>
			    </fieldset>
			  <% end %>    
	      <% end %>
	    </div>  
	    <div class="row">
		  <div class="col-lg-push-1 col-lg-3 topspace20">
		    <a href="#" class="add">Add new <%= link.exposeAs %></a>
		  </div>
		</div>
    </div>
  <% end %>
  
  <div class="form-group">
    <div class="col-lg-4 col-lg-offset-4 topspace50 bottomspace">
      <%= f.submit "Submit", :class => "btn btn-large" %>
    </div>
  </div>
  
<% end %>
