<% provide(:title, 'Entry View') %>
<% provide(:pageheading, @entity.name+' Entry') %>

<!-- Add edit/delete buttons if current user -->
<% if current_user?(@entry.creator) %> 
  <div class="row"> 
	  <div class="col-xs-12 col-sm-3 col-sm-push-9">
		<a class="btn btn-block btn-default" data-toggle="dropdown" href="#" id="options_button">
		  Options
		  <span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
		    <li><%= link_to "Edit Entry", :action => 'edit' %></li>
		    <li><%= link_to "Delete Entry", @entry, :method => :delete, data: { confirm: "Are you sure?" }, :class=>"redtext" %></li>
		</ul>
	  </div>
  </div>
<% end %>


<div class="row">  
  <div class="span3 offset3">
    <h4>Entry ID</h4>
  </div>
  <div class="span3 offset1">
    <h4><%= @entry.id %></h4>
  </div>
</div>

<div class="row">  
  <div class="span3 offset3">
    <h4>Entry Type</h4>
  </div>
  <div class="span3 offset1">
    <h4><%= @entity.name %></h4>
  </div>
</div>

<h2>Fields</h2>

<% for field in @fieldlist %>
  <div class="row">  
	<div class="col-md-6">
	  <h5><%= field['label'] %></h5>
	</div>
	<div class="col-md-6">
	  <h4 property="<%= field['predicate'] %>"><%= field['answer'] %></h4>
	</div>
  </div>
<% end%>

<h2>Links</h2>

<% for link in @entitylist %>
  <div class="row">  
	<div class="col-md-6">
	  <h5><%= link['label'] %></h5>
	</div>
	<div class="col-md-6">
	  <h4><%= link['answer'].id %></h4>
	</div>
  </div>
<% end%>

