<% provide(:title, 'Entry View') %>
<% provide(:pageheading, @entry.slug) %>

<!-- Add edit/delete buttons if current user -->
<% if current_user?(@entry.creator) %> 
  <div class="row"> 
	  <div class="col-xs-12 col-sm-2 col-sm-push-10">
		<a class="btn btn-block btn-default" data-toggle="dropdown" href="#" id="options_button">
		  Options
		  <span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
		    <li><%= link_to "Edit Entry", :action => 'edit', :entity_id => @entity.id %></li>
		    <li><%= link_to "Delete Entry", @entry, :method => :delete, data: { confirm: "Are you sure?" }, :class=>"redtext" %></li>
		</ul>
	  </div>
  </div>
<% end %>

	<div class="row topspace50">
		
		<div class="col-md-9">
		  <legend>Text</legend>	
		
		  <div class="row">  
		    <div class="col-md-12">
		      <h5 class="text-muted"><%= markdown(@entry.textblock.to_s) %></h5>
		    </div>
		  </div>
		  
			
	      <% for field in @fieldlist %>
			  <div class="row">  
				<div class="col-md-12 topspace50">
				  <legend><%= field['label'] %></legend>
				</div>
				<div class="col-md-12">
				  <h5 class="text-muted" property="<%= field['predicate'] %>"><%= field['answer'] %></h5>
				</div>
			  </div>
		  <% end%>
		
		  <% for link in @entitylist %>
			  <div class="row">  
				<div class="col-md-12 topspace50">
				  <legend><%= link['label'] %></legend>
				</div>
				<div class="col-md-12">
				  <h5 class="text-muted"><%= link_to Entry.find(link['answer']).slug.to_s, entry_url(link['answer']), 'property'=>link['predicate'] %></h5>
				</div>
			  </div>
		  <% end%>
			
	    </div>
		
		<div class="well col-md-3">
			<div class="row">  
			  <div class="col-md-12">
			    <h4>Entry ID</h4>
			  </div>
			</div>
			<div class="row">
			  <div class="col-md-12">
			    <h5 class="text-muted"><%= @entry.id %></h5>
			  </div>
			</div>
			
			<div class="row">  
			  <div class="col-md-12">
			    <h4 class="text-left">Entry Type</h4>
			  </div>
			</div>
			<div class="row">
			  <div class="col-md-12">
			    <h5 class="text-muted"><%= @entity.name %></h5>
			  </div>
			</div>
			
			<div class="row">  
			  <div class="col-md-12">
			    <h4>Date Created</h4>
			  </div>
			</div>
			<div class="row">
			  <div class="col-md-12">
			    <h5 class="text-muted"><span property="http://purl.org/dc/terms/created"><%= @entry.created_at.to_date %></span></h5>
			  </div>
			</div>
			
		</div>
				
	</div>

