<% provide(:title, 'New Entity') %>
<h1>New Entity</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@entity) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      
      <%= f.label :exposeAs %>
      <%= f.text_field :exposeAs %>

      <%= f.label :freetext %>
      <%= f.check_box :freetext %>
      <h2>Fields</h2>
      <div class="items well">
	      <%= f.nested_fields_for :entity_fields, :id=>"duplicatable_nested_form" do |ef| %>
	        <fieldset class="item">
		        <%= ef.label :field_id, 'Field' %>
		        <%= ef.collection_select(:field_id, Field.all, :id, :name, include_blank:true) %>
		        
		        <%= ef.label :multiple %>
		        <%= ef.check_box :multiple %>
		        
		        <%= ef.label :exposeAs %>
		        <%= ef.text_field :exposeAs %>
		        
		        <a href="#" class="remove">remove</a>

		        <%= f.hidden_field :id %>
		        <%= f.hidden_field :_destroy %>
		    </fieldset>
	      <% end %>
	  </div>
      <a href="#" class="add">add new field</a>
      
      <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
      
    <% end %>
  </div>
</div>