<% provide(:title, 'Entity View') %>
<% provide(:pageheading, 'Entity '+ @entity.name) %>

<!-- Add edit/delete buttons if current user -->
<% if current_user?(@entity.creator) %> 
  <div class="row">  
    <div class="span2 offset8">
      <%= button_to "Edit Entity", {:action => 'edit' }, :method => :get, :class=>"btn btn-block" %>
    </div>
    <div class="span2">
      <%= button_to "Delete Entity", @entity, method: :delete, data: { confirm: "Are you sure?" }, title: @entity.name, :class=>"btn btn-block btn-danger" %>
    </div>
  </div>
<% end %>

<div class="row">  
  <div class="span3 offset3">
    <h4>Entity ID</h4>
  </div>
  <div class="span3 offset1">
    <h4><%= @entity.id %></h4>
  </div>
</div>

<div class="row">  
  <div class="span3 offset3">
    <h4>Entity Name</h4>
  </div>
  <div class="span3 offset1">
    <h4><%= @entity.name %></h4>
  </div>
</div>

<div class="row">  
  <div class="span3 offset3">
    <h4>Expose as</h4>
  </div>
  <div class="span3 offset1">
    <h4><%= @entity.exposeAs %></h4>
  </div>
</div>

<div class="row">   
  <div class="span3 offset3">
    <h4>Free Text?</h4>
  </div>
  <div class="span3 offset1">
    <h4><%= @entity.freetext %></h4>
  </div>
</div>
