<% provide(:title, 'New Field') %>
<% provide(:pageheading, 'New Field ') %>

<%= form_for @field, :html => {:class => "form-horizontal"} do |f| %>
  <fieldset>
    
    <div class="form-group">
      <%= f.label :name, class:"col-lg-2 control-label" %>
      <div class="col-lg-8">
        <%= f.text_field :name, class:"form-control" %>
      </div>
	  <span class="glyphicon glyphicon-info-sign" data-toggle="modal" data-target="#NameHelp"></span>
    </div>
    
    <div class="form-group">
      <%= f.label :fieldtype, :class => "col-lg-2 control-label" %>
      <div class="col-lg-8">
        <%= f.text_field :fieldtype, class:"form-control" %>
      </div>
	  <span class="glyphicon glyphicon-info-sign" data-toggle="modal" data-target="#FieldTypeHelp"></span>
    </div>
    
    <div class="form-group">
      <%= f.label :property, :class => "col-lg-2 control-label" %>
      <div class="col-lg-8">
        <%= f.text_field :property, class:"form-control" %>
      </div>
      <span class="glyphicon glyphicon-info-sign" data-toggle="modal" data-target="#PropertyHelp"></span>
    </div>
    
    <div class="form-group">
      <div class="col-lg-4 col-lg-offset-4 bottomspace">
        <%= f.submit "Submit", class: "btn btn-large" %>
      </div>
    </div>

  </fieldset>

<% end %>


<!-- Modal -->
<div class="modal fade" id="NameHelp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Name</h4>
      </div>
      <div class="modal-body">
        Name is the actual name of the string literal, e.g. title, description, etc 
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="FieldTypeHelp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">FieldType</h4>
      </div>
      <div class="modal-body">
        FieldType is the type of this field, e.g. string, integer and will be exposed accordingly on webforms
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="PropertyHelp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Property</h4>
      </div>
      <div class="modal-body">
        To enable Linked Data, a predicate 'property' can be assigned to wherever this field appears in a semantically enabled webpage 
      </div>
    </div>
  </div>
</div>