<% provide(:title, 'New Field') %>
<% provide(:pageheading, 'New Field ') %>

<%= form_for @field, :html => {:class => "form-horizontal"} do |f| %>
  <fieldset>
    
    <div class="form-group">
      <%= f.label :name, class:"col-lg-2 control-label" %>
      <div class="col-lg-8">
        <%= f.text_field :name, class:"form-control" %>
      </div>
    </div>
    
    <div class="form-group">
      <%= f.label :fieldtype, :class => "col-lg-2 control-label" %>
      <div class="col-lg-8">
        <%= f.text_field :fieldtype, class:"form-control" %>
      </div>
    </div>
    
    <div class="form-group">
      <%= f.label :property, :class => "col-lg-2 control-label" %>
      <div class="col-lg-8">
        <%= f.text_field :property, class:"form-control" %>
      </div>
    </div>
    
    <div class="form-group">
      <div class="col-lg-4 col-lg-offset-4 bottomspace">
        <%= f.submit "Submit", class: "btn btn-large" %>
      </div>
    </div>

  </fieldset>

<% end %>
