<ul class="nav navbar-nav">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Entities<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li>
        <%= link_to 'View All', entities_path, :id => 'entities_index' %>
      </li>
      <li>
        <%= link_to 'Create New', new_entity_path, :id => 'entities_new' %>
      </li>
    </ul>
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Fields<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li>
        <%= link_to 'View All', fields_path, :id => 'fields_index' %>
      </li>
      <li>
        <%= link_to 'Create New', new_field_path, :id => 'fields_new' %>
      </li>
    </ul>
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Entries<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li>
        <%= link_to 'View All', entries_path, :id => 'entries_index' %>
      </li>
    </ul>
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Add New Entry<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <% for entity in @entities %>	
        <li><%= link_to entity.name, new_entry_path(entity_id:entity.id), :id => 'fields_new' %> 
        </li>
      <% end %>
    </ul>
  </li>
</ul>